@{
    ViewData["Title"] = "Home Page";
}

<div class="page-heading">
    <h3>Business Statistics</h3>
</div>
<section id="groups">
    <div class="row match-height">
        <div class="col-12 mt-3 mb-1">
            <h4 class="section-title text-uppercase">This Month</h4>
        </div>
    </div>
    <div class="row match-height">
        <div class="col-12">
            <div class="card-group">
                <div class="card">
                    <div class="card-content">
                        <img class="card-img-top img-fluid" src="assets/images/samples/E.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Wallet</h4>
                            <p class="card-text">
                                UGX 947,800
                            </p>
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <img class="card-img-top img-fluid" src="assets/images/samples/D.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Sales Orders</h4>
                            <p class="card-text">
                                236.
                            </p>
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <img class="card-img-top img-fluid" src="assets/images/samples/A.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Transanctions</h4>
                            <p class="card-text">
                                232.
                            </p>
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <img class="card-img-top img-fluid" src="assets/images/samples/B.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Total Inventory</h4>
                            <p class="card-text">
                               UGX 11,000,000
                            </p>
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row match-height">
    <div class="col-12 mt-3 mb-1">
        <h4 class="section-title text-uppercase"></h4>
    </div>
</div>
<div class="page-content">
    <section class="row">

        <div class="col-12 col-lg-9">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Monthly Orders</h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-profile-visit"></div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
</div>