@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Bakari.Models.Item

@{
    ViewData["Title"] = "Add";
}
                <!-- // Basic Horizontal form layout section end -->
                <!-- Basic Vertical form layout section start -->
                
                <!-- // Basic Vertical form layout section end -->
                <!-- // Basic multiple Column Form section start -->
<section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">New Item</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form asp-action="Add" class="form">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label asp-for="Category" class="control-label"></label>
                                                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                                            
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                            <label asp-for="ItemCode" class="control-label"></label>
                                                            <input asp-for="ItemCode" class="form-control" />
                                                            <span asp-validation-for="ItemCode" class="text-danger"></span>
                                                             
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label asp-for="ItemName" class="control-label"></label>
                                                        <input asp-for="ItemName" class="form-control" />
                                                        <span asp-validation-for="ItemName" class="text-danger"></span>

                                                    </div>
                                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="ItemPrice" class="control-label"></label>
                                        <input asp-for="ItemPrice" class="form-control" />
                                        <span asp-validation-for="ItemPrice" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <input asp-for="Description" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>

                                    </div>
                                </div>
                     
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="submit"
                                                            class="btn btn-primary me-1 mb-1">
                                                        Submit
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-light-secondary me-1 mb-1">
                                                        Reset
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic multiple Column Form section end -->
          